@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1) opacity(0.8);
  }
  .dark input[type='date']::-webkit-inner-spin-button,
  .dark input[type='date']::-webkit-clear-button {
    filter: invert(1) opacity(0.8);
  }
}
