@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .easyfix-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .easyfix-date-input::-webkit-inner-spin-button,
  .easyfix-date-input::-webkit-clear-button {
    display: none;
  }

  .easyfix-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
  }
}
